.login{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
}
.banner-log{
    text-align: center;
    margin-top: 20px;
}
.lg{
    border: 1px solid #95A0A7;
    background: #FFE0B3;
    padding: 30px;
    height: 420px;
}
.form-container{
    margin-bottom: 20px;
}
.form-container label{
    display: block;
}
.email, .password{
    padding: 10px 80px 8px 10px;
}
.login-btn{
    background-color: rgba(255, 0, 0, 0.704);
    color: white;
    width: 100%;
}